body{
    overflow: visible !important;
    background-color: #f3f5f8 !important;
}
.posts , .hidden_content{
 
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
.post{
    display: flex;
    justify-content: space-between;
    width: 87%;
    margin: 3%;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(211, 222, 232);
    height: auto;
}
.post img{
    width:50%;
    height: auto;
    
}
.post_content{
    margin: 2%;
}
.post_content h2{
    color: #BE4D25;
    font-family: Montserrat, sans-serif;
}
.post_content a{
    color: #7F00FF;
    font-family: Montserrat, sans-serif;
    font-weight: 900;
}
.link{
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 10%;
    color: rgb(2, 33, 54);
}
body .more_content{
    margin: 5px calc((100% - 200px)/2)!important;
}
.hidden_content{
    visibility: hidden;
    
}
.totop{
    visibility: hidden;
    opacity: 0.7;
}
.totop img{
    
    width: 50px;
    height: auto;
    position: fixed;
    left: calc((100% - 50px)/2);
    top: 89vh;
}

.totop-v{
    visibility: visible !important;
}



