@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: popins,sans-serif;
}
body{
    overflow: hidden;
}
.container{
    width: 100%;
    /* max-height: 100vh; */
    height: 100vh;
    background-color: #f3f5f8;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    z-index: 111;
    line-height: 80px;
}
.logo{
    display: flex;
    cursor:pointer;
}
b{
    font-size: 60px;
    color: #7f00ff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
}
.logo b::after{
    content: "harp";
    font-size: 40px;
    font-weight: 800;
    color:#3d535f;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.navItems{
    display: flex;

}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
/* wrapper */
.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;
}
.topline{
    display: block;
    position: relative;
    font-size:35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topline::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 5em;
    font-weight: 800;
    color: #3d535f;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;

}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.btns{
    width: 100%;
    position: relative;
    left: 150px;

}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.4));
    
}
button:hover{
    background-color: #7f00ff;
}
.imgbox{
    position:relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
}
.imgbox img{
    position:relative;
    width: 100%;
    height: calc(130% - 80px);
    top:-100px;
    right: 50px;
}
/* form */
.myModal{
    position: fixed;
    left: calc((100% - 400px)/2);
    top: calc((100vh - 250px)/2);
    display: none;
}
form {
    background-color: #EFDFFF;
    padding: 20px;
    max-width: 400px;
    /* margin: 0 auto; */
    
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #7f00ff;
  }
  
  input[type="text"],
  input[type="tel"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #7f00ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #4b0082;
  }

  .close-form {
    background-color: rgba(243, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .close-form:hover {
    background-color: rgba(243, 0, 0,1); 
  }
/* end form style */

/* media */
@media screen and (max-width:1028px){
    
    .post{
        display: block !important;;
    }
    .post img{
        height: 50%;
        width: 100% !important;
    }
    .logo{
        font-size: 35px;
    }
    .navItems li a{
        font-size: 20px;
        letter-spacing: 1px;
    }
    .navItems li{
        list-style: none;
        margin: 0 6px;
    }
    h1{
        font-size: 4em !important;
        font-weight: 600 !important;
    }
}
@media screen and (max-width:490px) {
    .posts, .hidden_content{
        grid-template-columns: 1fr !important;
    }
    .logo b::after{
        
        content: "";
    }
}